@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Courgette&family=Libre+Baskerville:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chela One", cursive;
}
/* 
font-family: 'Chela One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Libre Baskerville', serif;
 */
